<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array>
		<dict>
			<key>path</key>
			<string>wordomat.py</string>
			<key>preferredName</key>
			<string>word-o-mat</string>
			<key>shortKey</key>
			<array>
				<integer>1703936</integer>
				<string>W</string>
			</array>
		</dict>
	</array>
	<key>developer</key>
	<string>Nina Stoessinger</string>
	<key>developerURL</key>
	<string>www.ninastoessinger.com</string>
	<key>html</key>
	<true/>
	<key>launchAtStartUp</key>
	<integer>0</integer>
	<key>mainScript</key>
	<string></string>
	<key>name</key>
	<string>word-o-mat</string>
	<key>timeStamp</key>
	<real>1581228438</real>
	<key>version</key>
	<string>3.1</string>
	<key>repository</key>
    <string>ninastoessinger/word-o-mat</string>
    <key>extensionPath</key>
    <string>word-o-mat.roboFontExt</string>
</dict>
</plist>
